---
import { CardArt } from '../components/ui/CardArt';

import img1 from '../assets/art-kefren/art-1.webp'
import img2 from '../assets/art-kefren/art-2.webp'
import img3 from '../assets/art-kefren/art-3.webp'
import img4 from '../assets/art-kefren/art-4.webp'
import img5 from '../assets/art-kefren/art-5.webp'
import img6 from '../assets/art-kefren/art-6.webp'
import img7 from '../assets/art-kefren/art-7.webp'
import img8 from '../assets/art-kefren/art-8.webp'
import img9 from '../assets/art-kefren/art-9.webp'
import img10 from '../assets/art-kefren/art-10.webp'
import img11 from '../assets/art-kefren/art-11.webp'
import img12 from '../assets/art-kefren/art-12.webp'
import img13 from '../assets/art-kefren/art-13.webp'
import img14 from '../assets/art-kefren/art-14.webp'
import img15 from '../assets/art-kefren/art-15.webp'
import img16 from '../assets/art-kefren/art-16.webp'
import img17 from '../assets/art-kefren/art-17.webp'
import img18 from '../assets/art-kefren/art-18.webp'
import img19 from '../assets/art-kefren/art-19.webp'
import img20 from '../assets/art-kefren/art-20.webp'
import img21 from '../assets/art-kefren/art-21.webp'
import img22 from '../assets/art-kefren/art-22.webp'
import img23 from '../assets/art-kefren/art-23.webp'
import img24 from '../assets/art-kefren/art-24.webp'
import img25 from '../assets/art-kefren/art-25.webp'
import img26 from '../assets/art-kefren/art-26.webp'
import img27 from '../assets/art-kefren/art-27.webp'
import img28 from '../assets/art-kefren/art-28.webp'
import img29 from '../assets/art-kefren/art-29.webp'
import img30 from '../assets/art-kefren/art-30.webp'
import img31 from '../assets/art-kefren/art-31.webp'
import img32 from '../assets/art-kefren/art-32.webp'
import img33 from '../assets/art-kefren/art-33.webp'
---

<section id="artes" class="flex flex-col justify-center bg-purple w-full p-2 md:p-8 overflow-hidden">
  <h2 class="text-3xl py-14 text-white font-family-primary text-center">Mis Artes</h2>
  <div class="flex gap-4 md:gap-6 flex-wrap justify-center">
    <CardArt client:load imageUrl={img1.src} altText={'arte 1'} />
    <CardArt client:load imageUrl={img2.src} altText={'arte 2'} />
    <CardArt client:load imageUrl={img3.src} altText={'arte 3'} />
    <CardArt client:load imageUrl={img4.src} altText={'arte 4'} />
    <CardArt client:load imageUrl={img5.src} altText={'arte 5'} />
    <CardArt client:load imageUrl={img6.src} altText={'arte 6'} />
    <CardArt client:load imageUrl={img7.src} altText={'arte 7'} />
    <CardArt client:load imageUrl={img8.src} altText={'arte 8'} />
    <CardArt client:load imageUrl={img9.src} altText={'arte 9'} />
    <CardArt client:load imageUrl={img10.src} altText={'arte 10'} />
    <CardArt client:load imageUrl={img11.src} altText={'arte 11'} />
    <CardArt client:load imageUrl={img12.src} altText={'arte 12'} />
    <CardArt client:load imageUrl={img13.src} altText={'arte 13'} />
    <CardArt client:load imageUrl={img14.src} altText={'arte 14'} />
    <CardArt client:load imageUrl={img15.src} altText={'arte 15'} />
    <CardArt client:load imageUrl={img16.src} altText={'arte 16'} />  
    <CardArt client:load imageUrl={img17.src} altText={'arte 17'} />
    <CardArt client:load imageUrl={img18.src} altText={'arte 18'} />
    <CardArt client:load imageUrl={img19.src} altText={'arte 19'} />
    <CardArt client:load imageUrl={img20.src} altText={'arte 20'} />
    <CardArt client:load imageUrl={img21.src} altText={'arte 21'} />
    <CardArt client:load imageUrl={img22.src} altText={'arte 22'} />
    <CardArt client:load imageUrl={img23.src} altText={'arte 23'} />
    <CardArt client:load imageUrl={img24.src} altText={'arte 24'} />
    <CardArt client:load imageUrl={img25.src} altText={'arte 25'} />
    <CardArt client:load imageUrl={img26.src} altText={'arte 26'} />
    <CardArt client:load imageUrl={img27.src} altText={'arte 27'} />
    <CardArt client:load imageUrl={img28.src} altText={'arte 28'} />
    <CardArt client:load imageUrl={img29.src} altText={'arte 29'} />
    <CardArt client:load imageUrl={img30.src} altText={'arte 30'} />
    <CardArt client:load imageUrl={img31.src} altText={'arte 31'} />
    <CardArt client:load imageUrl={img32.src} altText={'arte 32'} />
    <CardArt client:load imageUrl={img33.src} altText={'arte 33'} />
  </div>
</section>